@font-face {
  font-family: 'Movement';
  src: url('/fonts/Movement/MovementV.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}
